<html>
<head>
	<link rel="stylesheet" href="css/styles.css">
	<script>
	document.addEventListener('DOMContentLoaded', () => {
    const posts = document.querySelectorAll('.post');
    posts.forEach(post => {
        post.addEventListener('click', () => {
            const postId = post.getAttribute('data-id');
            window.location.href = '/viewPost?postId=' + postId;
        });
    });
    const requests = document.querySelectorAll('.request');
    requests.forEach(request => {
        request.addEventListener('click', () => {
            const requestId = request.getAttribute('data-id');
            window.location.href = '/viewRequest?requestId=' + requestId;
        });
    });
});

	</script>
</head>

<body>
	<%- include('./partials/header.ejs')%>
	<% if (isOwnAccount) { %>
        	<h1>Welcome, <%= username %></h1>
			<h1><%= username %>'s Posts</h1>
	<% } %>

    <!-- Posts Listings -->
	<ul class="listings">
		<% for (const post of posts) { %>
			<li class="listing-tile post" data-id="<%= post.id %>">
				<img class="listing-image" src="<%= post.image %>">
				<div class="listing-details">
				<h2><%= post.title %></h2>
				<p><%= post.description %></p>
				<p>$<%= post.currentBid %></p>
				<p>(<%= post.tags %>)</p>
			</li>
		<% } %>
	</ul>

	<% if (isOwnAccount) { %>
		<h1><%= username %>'s Requests</h1>
	<% } %>

    <!-- Requests Listings -->
	<ul class="listings">
		<% for (const request of requests) { %>
			<li class="listing-tile request" data-id="<%= request.id %>">
				<div class="listing-details">
                    <h2><%= request.title %></h2>
                    <p><%= request.description %></p>
                    <p>$<%= request.currentBid %></p>
                    <p>(<%= request.tags %>)</p>
                </div>
			</li>
		<% } %>
	</ul>
	<%- include('./partials/footer.ejs')%>
</body>
</html>
