<html>
<head>
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<%- include('./partials/header.ejs') %>

	<h1>Browsing <%= total %> Posts...</h1>
	<ul class="listings">
		<% if (page > 1) { %>
                	<a href="/browse?page=<%= page - 1 %>&limit=10">Last Page</a>
                <% } %>
                <% if (page < (total/limit)) { %>
                    	<a href="/browse?page=<%= page + 1 %>&limit=10">Next Page</a>
                <% } %>
                <% for (let i = 0; i < posts.length; i++) { %>
                	<li class="listing-tile">
                            	<img class="listing-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/GitHub_Invertocat_Logo.svg/800px-GitHub_Invertocat_Logo.svg.png">
                        	<div class="listing-details">
                            		<h2><%= posts[i].title %></h2>
                            		<p><%= posts[i].description %></p>
                            		<p>$<%= posts[i].currentBid %></p>
                        	</div>
                    	</li>
                <% } %>
                <% if (page > 1) { %>
			<a href="/browse?page=<%= page - 1 %>&limit=10">Last Page</a>
                <% } %>
                <% if (page < (total/limit)) { %>
			<a href="/browse?page=<%= page + 1 %>&limit=10">Next Page</a>
                <% } %>
	</ul>
	
	<%- include('./partials/footer.ejs') %>
</body>
</html>


